doctype html
html
  head
    title Fluxo Visualize
    script(src='/static/js/hh.js')
    link(href='/static/css/bootstrap.slate.min.css', rel='stylesheet')
    link(href='/static/css/visualize.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
    meta(name='description=', content='Fluxo shows Kanban statistics for your Trello boards.')
    meta(name='keywords=', content='Trello,Kanban,leadtime,cycletime,throughput,flow,statistics')
    link(rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png")
    link(rel="manifest" href="/static/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/static/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
  body
    .container
      #progress.progress
        #progressbar.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
      p
        #slideshow-container
          #slideshow-content
            #leadtime-total
            #leadtime-per-label
          #slideshow-controls
            nav
              ul.pager
                li
                  a#previous(href='#') Previous
                li
                  a#next(href='#') Next
      p#leadtime-no-results
        | No cards found in tha last list of your Kanban Flow. Go back and define your flow again
      span.text-muted
        | Fluxo is not affiliated, associated, authorized, endorsed by or in any way officially connected to Trello, Inc. (www.trello.com).
    script(src='//code.jquery.com/jquery-1.11.2.min.js ')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js ')
    script(src='//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js ')
    script(src='//code.highcharts.com/stock/highstock.js')
    script(src='//code.highcharts.com/modules/exporting.js')
    script(src='/static/js/api.js')
    script(src='/static/js/technical-indicators.js')
    script(src='/static/js/slideshow.js')
    script(src='/static/js/datarow.js')
    script(src='/static/js/datarow.collection.js')
    script(src='/static/js/visualize.js')
